/* main body */
.about{
    border: 0.1px solid #eceff1;
    background-color: #eceff1;
    color: #000;
}
.about h1{
    text-align: center;
}
#about .team{    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    margin:1rem;
    padding: 20px;
}
#about .team img{
    width: 100%;
}
#about .content{    
    padding-top: 5rem;
    text-align: justify;
    padding-left: 2rem;
    padding-right: 2rem;    
}
#about a{
    border: 2px solid tomato;
    color: #000;
    text-decoration: none;
    padding: 1rem;
    transition: 1s;
}
#about a:hover{
    border: 2px solid white;
    color: white;
    border-radius: 5rem;
    text-decoration: none;
    background-color: tomato;
    transition: 1s;
}
.member-card{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:1rem;
    margin-left: 15rem;    
    margin-right: 15rem;
    margin-bottom: 2rem;   
}
.card {
    margin: 20px;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
     
}  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img {
    border-radius: 5px 5px 0 0;    
}
.container {
    padding: 2px 16px;
}