/* main body */

.contact{
    background-image: url("Image/contact1.jpg");
    background-size: cover;
    border: 0.1px solid black;
    color: #fff;
}
.contact h4, .contact h1{
    text-align: center;
}
.container{    
    /* border: 2px solid white; */
    backdrop-filter: blur(10px);    
    margin-bottom: 2rem;
}

.form-main{
    /* border: 2px solid white; */   
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
.montform{
    border-right: 2px solid tomato;
    padding: 20px;
}
.montform .feedback-input {
	
    font-weight:500;
	font-size: 18px;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 13px;
	width:100%;
	box-sizing: border-box;
	border: 3px solid rgba(0,0,0,0);
}
/*Inputs styles*/
.montform .feedback-input:focus{
	background: #fff;
	color: #3498db;
	outline: none;
    padding: 13px 13px 13px 54px;
}


/* Icons ---------------------------------- */
.name, .text{
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: black;
}

.email{
    display: flex;
    align-content: center;
    justify-content: space-between;
    color: black;
}

.montform  textarea {
    width: 100%;
    height: 150px;
    resize:vertical;
    color: black;
}

.montform  input:hover, .montform  textarea:hover,
.montform  input:focus, .montform  textarea:focus {
	background-color:#e6e6e6;
    color: black;
}

.button-blue{	
    text-align: center;
	border:2px solid white;
	cursor:pointer;
	background-color: tomato;
	color:white;
    padding: 12px;
	transition:0.1s;
    font-weight:500;
    font-size:22px;
    margin-left: 5.5rem;
}

.button-blue:hover{
	background-color:tomato;
    color: #000;
    border: #fbfbfb solid 0.1px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-decoration: none;
}
	
#feedback-page{
	text-align:center;
}

.content{
    padding-left: 40px;
    padding-top: 20px;
}
.content ul{
    margin-top: 2rem;
    font-size: 2.5rem;
}

@media screen and (max-width: 768px){
    .contact{
        padding: 2rem;
    }
    .form-main{
        /* border: 2px solid white; */   
        display:block;
        padding: 5px;
    }
    .montform{
        border: none;
        border-bottom: 2px solid tomato;
        padding:10px;
    }
    .contact h1{
        font-size: 3rem;
    }
    .contact h2{
        font-size: 2.75rem;
    }
    .contact h3{
        font-size: 2.5rem;
    }
    .contact h4{
        font-size: 1.75rem;
    }
    .content ul li{
        font-size: 2rem;
    }
}