/* Topnavigation bar */
@media screen and (max-width: 768px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}
  
@media screen and (max-width: 768px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
      padding: 1rem;
    }
    .header2 .topnav a{
        color: white;
        background-color: black;
        text-decoration: none;
        margin-right: 2rem;
    }
    .header2 .topnav a:hover{
        color: tomato;
        border-bottom: 4px solid tomato;
    }
}