/* Main body */
.service{
    border: 1px solid #eceff1;
    background-color: #eceff1;
    color: #000;
}

.text{
    text-align: center;
}
.row1{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 1rem;   
}
.row1 .content .row{
    font-size: 2rem;
}
.row2{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap:0.5rem;
    margin-left: 5rem;
    margin-right: 5rem;
}
.row2 img{
    /* border: 1px solid black; */
    width: 70%;
}
.row3{
    margin-left: 5rem;
    margin-right: 5rem;
}
img{
    width: 100%;
}
.content{
    padding-left: 4rem;
    text-align: justify;
}
.content h4{
    text-align: left;
}
.row1 .content .ul{
    padding: 2rem;
}
.row2 .content ul{
    padding: 2rem;
    margin-right: 15rem;
}
.content ul li{
    padding-bottom: 0.5rem;
}
.part{
    /* border: 1px solid black; */
    width: max-content;
    display: flex;
    justify-content:space-between;
}
.part a{
    border: 2px solid tomato;
    background-color: tomato;
    color: #000;
    text-decoration: none;
    padding: 1rem;
    align-content: center;
    justify-content: center;
    transition: 1s;
    margin-top:6rem ;
    margin-bottom:5rem;
}
.part a:hover{    
    color: white;
    border-radius: 5rem;
    text-decoration: none;
    background-color: tomato;
    transition: 1s;
}
#row{
    padding-left: 5rem;
    padding-right: 15rem;
    margin-bottom: 2rem;
}


@media screen and (max-width: 768px){
    
    .text{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .row1, .row2, .row3{
        /* border: 1px solid black; */
        display:block;
        margin-left: 1rem;
        margin-right: 1rem;
        text-align:justify ;    
    }
    .row1 .img{
        padding-left: 0rem;
        padding-right: 0rem;
    }
    .row1 .content, .row2 .content{
        text-align: justify;
        padding: 2rem;
    }
    .row1 .content .row{
        font-size: 1.75rem;
        padding-left: 3rem;
    }
    .row1 .col-md-6{
        margin: 0;        
    }  
    .part{        
        /* border: 1px solid black; */
        width: auto;
        display:block;
        margin-top: 0;
    }
    .part a{        
        margin: 0;
    }
    .row2 img{
        margin-left: 7rem;
    }
    .row3 .desktop, .row3 .print{
        padding: 0rem;
        text-align: justify;
    }
    .row3 .desktop .content, .row3 .print .content{
        padding: 1rem;
    }
    .row3 .desktop h3, .row3 .print h3{
        padding-left: 1rem;
        padding-top: 1rem;
    }
    .row3 .desktop .hl, .row3 .print .hl{
        margin-left: 1rem;
    }
}