/* Main body */
.testimonial{
    border: 1px solid #eceff1;
    background-color: #eceff1;
    color: black;
    padding: 2rem;
    text-align: justify;
}
.testimonial h1{
    text-align: center;
    padding: 3rem;
}
#testimonial .container .mySlides{
    background-color: tomato;
    margin-bottom: 2rem;
    color: #fff;
    padding: 1rem;
}
.row .mySlides{
    background-color: tomato;
    margin-bottom: 3rem;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
}
.container i{
    font-size: 36px;
}
.author{
    text-align: right;
}
.block2{
    text-align: center;
    border: 1px solid tomato;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 1rem;
}
.block2 a{
    color: tomato;
}
.block2 a:hover{
    color: tomato;
    text-decoration: none;
}

@media screen and (max-width: 768px){
    .testimonial h1{
        font-size: 2.5rem;
        text-align: justify;
        text-align: center;
    }
    .mySlides{
        /* border: 1px solid black; */
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .container h3{
        font-size: 1.75rem;
    }
    .container h4{
        font-size: 2rem;
    }
    .container i{
        font-size: 26px;
    }
    .block1{
        display: block;
    }
}