/* html */
html, main{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    scroll-behavior:smooth;
}

/* Headder style */

.header1{
    padding-left: 2rem;
    padding-right: 2rem;
    display:flex;
    justify-content:space-between;
    color: white;
    background-color: rgba(0, 0, 0, 0.692);
}
.header1 a{
    text-decoration: none;
    color: white;
}
.header1 a:hover{
    color: tomato;
    text-decoration: none;
}
.header2{
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content:space-between;
}
.header2 .nav-links{
    display:flex;
    align-items: center;  
}
.header2 .nav-links li{
    margin-left: 2rem;
    padding: 1rem;
    border-radius: 5rem;
    list-style-type:none;
    text-decoration: none;
    font-size: 2rem;
}
.header2 .nav-links li a{
    color: white;
    background-color: black;
    text-decoration: none;
}
.header2 .nav-links li a:hover{
    color: tomato;
    border-bottom: 4px solid tomato;
}
.nav-links .dropdown-menu{
    background-color: black;
    color: black;
    font-size: 2rem;   
}


/* footer style */
footer{
    background-color: #000;
    text-align: justify;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:15rem;
}
.grid2, .grid3{
    font-size: 2rem;
}
.footer .grid2 a{
    color: white;
    text-decoration: none;
    
}
.footer .grid2 a:hover{
    color: tomato;
}
.footer .grid2 li ul li{
    list-style-type:none;
}
.grid3 a{
    text-decoration: none;
    color: white;
}
.grid3 a:hover{
    color: tomato;
    text-decoration: none;
}

.grid3 ul{
    position: absolute;
    margin-top: 2rem;
    margin-left: 4.5rem;
    padding: 0;
    transform: translate(-50%,-50%);
    align-items: center;
    
    display: flex;
}
.grid3 ul li{
    list-style-type: none;
}
.grid3 ul li a{
    position: relative;
    width: 40px;
    height: 40px;
    display: block;
    text-align: center;
    margin: 0 10px;
    border-radius: 50%;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-box-shadow: 4px 6px 15px 1px rgba(255,255,255,0.85); 
    box-shadow: 4px 6px 15px 1px rgba(255,255,255,0.85);
    background: linear-gradient(0deg, #ddd,#fff);
    transition: 0.5s;
}
.grid3 ul li a:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 3);
    text-decoration: none;
}
.grid3 ul li a i{
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(0deg,#fff,#ddd);
    border-radius: 50%;
    padding-top: 4px;
    line-height: calc(60px-12px);
    font-size: 2rem;
    color: #262626;
    transition: 0.5s;
}
.grid3 ul li a i:hover{
    color: tomato;
}

/* universal */
.vl{
    height: 7rem;
    width: 0.5rem;
    border-radius: 10px;
    background-color: tomato;
}
.hl{
    height: 0.5rem;
    width: 7rem;
    border-radius: 10px;
    background-color: tomato;
}

/* scroll back to top */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: tomato;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 3rem;
}

    #myBtn:hover {
        background-color: #555;
    }
